<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="currentPage$ | async as currentPage">
      Current page: {{currentPage}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="prevPage()">Prev</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="nextPage()">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="currentPageData$ | async as passengers; else loading">
    <ion-list>
      <ion-item *ngFor="let passenger of passengers">
        <ion-label>{{passenger.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #loading>
    <ion-list>
      <ion-item *ngFor="let arr of [1, 2, 3, 4]">
        <ion-label><ion-skeleton-text animated></ion-skeleton-text></ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
